{% extends 'store/base.html' %} <!-- Расширение не меняем, оно нормально подтянется-->
{%load static%}
{% block title %}
    <title>Избранное</title>
{% endblock %}

{% block content %}
    <!-- Оформите здесь код уникального содержимого из wishlist.html как делали в cart.html или shop.html-->
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'store/images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"></span></p>
            <h1 class="mb-0 bread">Избранное</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th></th>
						        <th></th>
						        <th>Продукт</th>
						        <th>Цена, &#x20bd</th>
						      </tr>
						    </thead>
						    <tbody>
							{% for prod in products %}
						      <tr class="text-center">
						        <td class="product-remove"><a href="{% url 'wishlist:remove_from_wishlist' prod.id %}"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><a href="{% url 'store:prod_page_view' prod.html %}">
									<div class="img" style="background-image:url({% static prod.url %});"></div>
								</a></td>
						        
						        <td class="product-name">
						        	<h3>{{prod.name}}</h3>
						        	<p>{{prod.description}}</p>
						        </td>
						        
						        <td class="price">{{prod.price_after}}</td>
						      </tr><!-- END TR-->
							{% endfor %}
							</tbody>
						  </table>
					  </div>
    			</div>
    		</div>
	</section>

{% endblock %}